.compare {
    --mask-width: 50%;
    --handle-size: 32px;
    position: relative;
    border: 1px solid rgb(0 0 0 / 0.05);
}

.compare-separator {
    position: absolute;
    top: 0;
    height: 100%;
    left: var(--mask-width);
    width: 2px;
    margin-left: -1px;
    background: black;
    z-index: 1;
    pointer-events: none;
}

.compare-image-one {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.compare-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    width: var(--mask-width);
}

.compare-image-two {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.compare-input {
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 0;
    left: calc(var(--handle-size) / -2);
    width: calc(100% + var(--handle-size));
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: col-resize;
    background-color: transparent;
}

/* Firefox */
.compare-input::-moz-range-track {
    height: 100%;
}

.compare-input::-moz-range-thumb {
    height: 100%;
    border-radius: 0;
    width: var(--handle-size);
    border: none;
}

/* Webkit */
.compare-input::-webkit-slider-runnable-track {
    height: 100%;
}

.compare-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    border-radius: 0;
    width: var(--handle-size);
    border: none;
}

.compare-icon {
    position: absolute;
    z-index: 2;
    color: #333;
    width: var(--handle-size);
    height: var(--handle-size);
    top: 50%;
    left: var(--mask-width);
    transform: translate(-50%, -50%);
    padding: 6px;
    border: 2px solid currentColor;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
}

.compare-icon path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

body {
    color: white;
    padding-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: #333333;
    background-image: url(../images/topography.svg);
    position: relative;
    padding-bottom: 50px;
}

a {
    color: white;
}

section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 75%;
    max-width: 1320px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0 20px;
    margin-bottom: 20px;
}

section a {
    margin-top: 15px;
    text-decoration: none;
}

section a:hover {
    color: rgba(247, 168, 184, 1);
    text-shadow: 0 4px 8px rgba(250, 250, 250, 0.3);
}

section:hover {
    border: 2px solid rgb(245, 169, 184);
    box-shadow: 0 4px 8px rgba(250, 250, 250, 0.3);
}

.text-align-center {
    text-align: center;
}

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(0, 0, 0, 1);
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-bottom: 5px;
    
}

footer a {
    text-decoration: none; 
}

.blue {
    color: blue;
}

.about {
    text-align: center;
}

.about a {
    text-decoration: none;
    margin-top: 50px;
}

.projects a {
    margin: 0;
    padding: 5px;
    display:inline-block;
}

.about a:hover {
    text-decoration: none;
    color: rgb(247, 168, 184, 1);
    text-shadow: 0 4px 8px rgba(250, 250, 250, 0.3);
}

.about details a{
    margin: 0;
    padding: 0;
}

.pink-link {
    text-decoration: none;
    color: rgb(247, 168, 184, 1);
}

.pink-link:hover {
    text-decoration: none;
    color: rgb(247, 168, 184, 1);
    text-shadow: 0 4px 8px rgba(250, 250, 250, 0.3);
}

.about h1 {
    font-size: xx-large;
}

.about h3 {
    margin: 10px;
}

.about p {
    margin: 5px;
}

.top-margin-5px {
    margin-bottom: 5px;
}

.bottom-margin-10px {
    margin-bottom: 10px;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.link {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.link a {
    margin: 0;
    text-decoration: none;
}

.link a:hover {
    color: rgba(247, 168, 184, 1);
    text-shadow: 0 4px 8px rgba(250, 250, 250, 0.3);
}

.link p {
    font-weight: bold;
    margin-top: 5px;
}

.bottom-15px-margin {
    margin-bottom: 15px;
}